{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Ticker Symbol</th>
      <th scope="col">Stock</th>
      <th scope="col">Shares owned</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for stock in stocks %}
    <tr>
      <th scope="row">{{stock["symbol"] }}</th>
      <td>{{ stock["name"] }}</td>
      <td>{{ stock["totshares"] }}</td>
      <td>{{ usd(stock["price"]) }}</td>
      <td>{{ usd(stock["totshares"] * stock["price"]) }}</td>
    </tr>
    {% endfor %}
    </tr>
    <td><b>Cash</b></td>
    <td colspan="3"></td>
    <td>{{ usd(cash) }}</td>
  </tbody>
  <tfoot>
    <td colspan="4"></td>
    <td><b>{{ usd(total) }}</b></td>
  </tfoot>
</table>
{% endblock %}


